*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.outputText, 
.heading span, 
.generatePassword:active {
    color: #00ffaa;
}


.heading,
.generatePassword,
.outputText::selection {
    color: white;
}


.container{
    width: 550px;
    height: 600px;
    border: 2px solid gray;
    margin: 30px auto;
    padding: 75px 45px;   
    background-color: #1F2937;
    border-radius: 6px;
}


.content-wrapper{
    border-bottom: 1px solid rgba(128, 128, 128, 0.305);
}


.heading{
    font-size: 50px;
    line-height: 1;
    margin: 0 0 5px 0;
}


.headline{
    color: rgb(232, 232, 232);
    font-size: 18px;
    margin: 12px 0 0 0;
}


.content-text{
    color: rgb(111, 255, 207);
    font-size: 14px;
}


.generatePassword{
    background-color: #0fce8e;
    width: 190px;
    padding: 10px;
    font-size: 17px;
    border-radius: 7px;
    border: none;
    margin: 50px 0 20px 0;
}


.password-container{
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.outputText{
    width: 220px;
    height: 40px;
    padding: 12px 20px;
    margin: 0 12px 0 0;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: #2f415a;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}


.outputText::selection{
    background-color: #1bb07f;
}